*{
    margin:0;
    padding:0;
}
body{
    background-color: #ffffff;
}
.d-none{
    display:none !important;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}


.loader {
    width: 50px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: l4 1s infinite steps(10);
}

@keyframes l4 {
    to {transform: rotate(1turn);}
}

.product{
    width:30%;
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform .5s;

}
.product:hover{
    transform: scale(1.05);
    box-shadow:0 8px 16px rgba(0,0,0,.6);
}
a{
    text-decoration:none;
}
nav{
    display:flex;
    justify-content: space-around;
    background-color: #fff;
    padding:20px;
    position:sticky;
    top:0;
    transition:.6s background-color;
    z-index:100;
}
nav a{
    color:#000;
    text-decoration: none;
}
.about{
    text-align:center;
    padding:50px 0;
    display :flex;
    flex-direction:column;
    gap:10px;
}

.scrollNavbar{
    background-color:cornflowerblue !important;
}
.products{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
    gap:10px;
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    list-style: none;
    display: flex;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    cursor:pointer;
}

.page-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ddd;
}
.products-section{
    gap:18px;
    display:flex;
    flex-direction: column;
}





